<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <script defer type="module" src="../script.js"></script> 
    <link rel="icon" href="./rice_codesLOGOS/RiceCodes.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/11bdd8b393.js" crossorigin="anonymous"></script>
    <title>SBA 6 - The Rice Cart</title>
</head>
<body>
    <nav id="navbar">
        <div class= "nav__main--wrapper">
            <div class="nav__head--wrapper">
                <figure class="nav__logo--wrapper">
                    <img class="nav__logo" src="./images/rice_mart _logo.png" alt="RiceCodes Logo">
                </figure>
                
            </div>
            <div class="nav__links--wrapper">
                <ul class="nav__links">
                    <li class="nav__link"><i class="fa-solid fa-circle-half-stroke"></i></li>
                    <li class="nav__link"><i class="fa-solid fa-bars"></i></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="products__container" id="products-container">
                <div class="product__wrapper">
                    <figure class="product__image--wrapper">
                        <img class="product__image" src="./images/Facebook_creation_1394214215370197.jpeg" alt="">
                    </figure>
                    <div class="product__info">
                        <h4>title</h4>
                        <h5>price</h5>
                        <p>sku</p>
                    </div>
                </div>
                <div class="product__wrapper">
                    <figure class="product__image--wrapper">
                        <img class="product__image" src="./images/Facebook_creation_1394214215370197.jpeg" alt="">
                    </figure>
                    <div class="product__info">
                        <h4>title</h4>
                        <h5>price</h5>
                        <p>sku</p>
                    </div>
                </div>
                <div class="product__wrapper">
                    <figure class="product__image--wrapper">
                        <img class="product__image" src="./images/Facebook_creation_1394214215370197.jpeg" alt="">
                    </figure>
                    <div class="product__info">
                        <h4>title</h4>
                        <h5>price</h5>
                        <p>sku</p>
                    </div>
                </div>
                
               
                
            </div>
         
            <button class="loader">Load More</button>
            

        </div>
    </div>
    <footer id="footer" class="footer__links--wrapper">
        <ul class="footer__links">
            <li class="footer__link"><a href="https://app.joinhandshake.com/profiles/gqqjmh" target="_blank"><i class="fa-solid fa-handshake"></i></a></li>
            <li class="footer__link"><a href="https://https://github.com/MsRice" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li class="footer__link"><a href="https://www.linkedin.com/in/patrice-maxwell" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li class="footer__link"><a href="https://www.thegrainofrice.com/patricemaxwell" target="_blank"><img class="footer__img" src="./images/rice_codesLOGOS/Rice_logo_only_no_background.png" alt=""></a></li>
        </ul>
        <p class="footer__link--copy">
            &copy; Grain of Rice 🍚 2025 
        </p>
    </footer>
</body>
</html>